{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem consequatur cupiditate ducimus esse excepturi
        facilis fugiat in incidunt nisi nulla praesentium quasi qui rem, repudiandae sequi unde voluptas voluptatum.
        Quis.
    </div>
    <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid aut, commodi consectetur corporis culpa dolor
        dolorem dolorum esse excepturi harum id itaque maxime odio omnis provident quam quasi veniam voluptatem.
    </div>
    <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet asperiores blanditiis deleniti dolor dolorum
        ducimus, earum esse excepturi, explicabo iure laborum maiores, optio quae quisquam reprehenderit sunt vero vitae
        voluptatibus.
    </div>
{% endblock %}



